<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <meta charset="UTF-8">
    <title>NetworkAPI</title>

    <link rel="stylesheet" href={% static "css/bootstrap-grid.css" %}>
    <link rel="stylesheet" href={% static "css/bootstrap.css" %}>
    <link rel="stylesheet" href={% static "css/style.css" %}>
    <link rel="stylesheet" href={% static "css/tabulator.css" %}>
    <link rel="stylesheet" href={% static "css/tabulator_site.css" %}>

    <script src={% static "js/tabulator.js" %}></script>
    <script src={% static "js/jquery.js" %}></script>
    <script src={% static "js/popper.min.js" %}></script>
    <script src={% static "js/bootstrap.js" %}></script>
    <script src={% static "js/bootstrap.bundle.js" %}></script>


</head>

<body class="w-100">
<header class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <button class="navbar-toggler navbar-toggler-right border-0 p-0" type="button" data-toggle="collapse"
                data-target="#navbar14">
            <p class="navbar-brand mb-0 text-white">
                <i class="fa d-inline fa-lg fa-stop-circle"></i></p>
        </button>
        <div class="collapse navbar-collapse" id="navbar14">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">About</a></li>
            </ul>
            <p class="d-none d-md-block lead mb-0  text-white"><i class="fa d-inline fa-lg fa-stop-circle"></i>&nbsp;&nbsp;Network
                API</p>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-1"><a class="nav-link" href="#">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a></li>
            </ul>
        </div>
    </div>
</header>
<div class="d-inline-flex w-100 py-0" style="">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 border-right " style="">
                <div class="row">
                    <div class="col-md-12 px-0">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                             aria-orientation="vertical">
                            <a class="nav-link ">MENU</a>
                            <a class="nav-link rounded-0  " id="v-pills-networks-tab" data-toggle="pill"
                               href="#v-pills-networks"
                               role="tab" aria-controls="v-pills-networks" aria-selected="false">
                                <img src="https://img.icons8.com/dotty/30/000000/networking-manager.png" alt="">
                                &nbsp;&nbsp;&nbsp;&nbsp;Network

                            </a>
                            <a class="nav-link rounded-0 " id="v-pills-nodes-tab" data-toggle="pill"
                               href="#v-pills-nodes"
                               role="tab" aria-controls="v-pills-nodes" aria-selected="false"><img
                                    src="https://img.icons8.com/cotton/24/000000/checked-laptop.png" alt="">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nodes
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10 h-100 d-flex" style="">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade" id="v-pills-networks" role="tabpanel"
                         aria-labelledby="v-pills-profile-tab"> {% include 'networks.html' with net=0 %}
                    </div>
                    <div class="tab-pane fade" id="v-pills-nodes" role="tabpanel"
                         aria-labelledby="v-pills-messages-tab"> {% include 'nodes.html' %}
                    </div>
                    <div class="tab-pane fa fade" id="v-pills-settings" role="tabpanel"
                         aria-labelledby="v-pills-settings-tab">...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="py-3 border-left border-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="mb-0">© 2019 Network API. All rights reserved</p>
            </div>
        </div>
    </div>
</footer>
{% load get_network %}
{% get_network 0 as nets %}

<script type="text/javascript">

    var tablenets = new Tabulator('#dynamic-nets-table', {
        height: "311px",
        layout: "fitColumns",
        placeholder: "Choose a network",
        autoResize: true,
        resizableColumns: true,
        dataTree: true,
        dataTreeChildField: "nodes",
        dataTreeElementColumn: "name",
        columns: [
            {title: "#", field: "id", sorter: "number", width: 30},
            {title: "Name", field: "name", sorter: "string", width: 180},
            {title: "Address", field: "address", sorter: "string", width: 100},
            {title: "Type", field: "type", sorter: "string", width: 50},
            {title: "Subnet", field: "subnet", sorter: "string", formatter: "plaintext", width: 110},
            {title: "Gateway", field: "gateway", sorter: "string", width: 120},
            {title: "Cidr", field: "cidr", sorter: "number", align: "center", width: 50},
            {title: "Vlan", field: "vlan", sorter: "number", align: "center", width: 50},
            {title: "Created", field: "date_created", sorter: "date", align: "center", width: 170},
            {title: "Last Modified", field: "date_modified", sorter: "date", align: "center", width: 170},
        ],
    });

    var tablenodes = new Tabulator('#dynamic-nodes-tables', {
        height: "311px",
        layout: "fitColumns",
        placeholder: "Choose a network",
        autoResize: true,
        resizableColumns: true,
        columns: [
            {title: "#", field: "id", sorter: "number", width: 30},
            {title: "Name", field: "name", sorter: "string", width: 180},
            {title: "Network", field: "network", sorter: "string", width: 180},
            {title: "Address", field: "address", sorter: "string", width: 100},
            {title: "Type", field: "type", sorter: "string", width: 100},
        ],
    });


    $(document).ready(function () {

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                }
            }
        });

        tablenets.setData('api/v1/networks');
        tablenodes.setData('api/v1/nodes');

        $('#input-nets-select').change(function () {
            var select = $(this).val();
            console.log(select);
            $.ajax({
                url: "api/v1/network/" + select,
                type: "GET",
                success: function (data) {
                    var json = [data];
                    tablenets.cleanData;
                    tablenets.setData(json);
                }
            });
        });
        $('#input-nodes-select').change(function () {
            var select = $(this).val();
            $.ajax({
                url: "api/v1/node/" + select,
                type: "GET",
                success: function (data) {
                    var json = [data];
                    tablenodes.cleanData;
                    tablenodes.setData(json);
                }
            });
        });
        $('#form-add-net').on('submit', function (event) {

            event.preventDefault();
            var req = {
                "name": $("#input-add-name").val(),
                "nodes": [],
                "subnet": $("#input-add-subnet").val(),
                "gateway": $("#input-add-gateway").val(),
                "cidr": $("#input-add-cidr").val(),
                "vlan": $("#input-add-vlan").val()
            };

            var url = $(this).attr("action");
            $.ajax({
                url: url,
                type: "POST",
                contentType: 'application/json',
                data: JSON.stringify(req),
                processData: false,
                success: function (response) {
                    alert("Successfully");
                    window.location.reload();

                },
                error: function (response, status, error) {
                    console.log(response.responseText);
                    //console.log(status);
                    var err = JSON.parse(response.responseText);
                    alert("ERROR: "+ err);
                }
            });
        });

        $('#form-add-node').on('submit', function (event) {

            event.preventDefault();
            var req = {
                "name": $("#input-add-node-name").val(),
                "address": $("#input-add-node-address").val(),
                "type": $("#input-add-node-type").val(),
                "network": $("#input-add-node-network").val()
            };
            console.log(req);

            var url = $(this).attr("action");
            $.ajax({
                url: url,
                type: "POST",
                contentType: 'application/json',
                data: JSON.stringify(req),
                processData: false,
                success: function (response) {
                    alert("Successfully");
                    window.location.reload();

                },
                error: function (response, status, error) {
                    console.log(response.responseText);
                    //console.log(status);
                    var err = JSON.parse(response.responseText);
                    alert("ERROR: "+ err);
                }
            });
        });

        $('#btn-del-net').on('click', function (event) {
            event.preventDefault();
            var value = $("#select-net-del").val();
            $.ajax({
                url:"/api/v1/network/"+value,
                type:"DELETE",
                success: function (response) {
                    alert("Successfully");
                    window.location.reload();
                },
                error: function (response, status, error) {
                    console.log(response.responseText);
                    var err = JSON.parse(response.responseText);
                    alert("ERROR: "+ err);

                }
            });

        });
        $('#btn-del-node').on('click', function (event) {
            event.preventDefault();
            var value = $("#select-node-del").val();
            $.ajax({
                url:"/api/v1/node/"+value,
                type:"DELETE",
                success: function (response) {
                    alert("Successfully");
                     window.location.reload();
                },
                error: function (response, status, error) {
                    console.log(response.responseText);
                    var err = JSON.parse(response.responseText);
                    alert("ERROR: "+ err);
                }
            });

        });
    });
</script>
</body>
</html>