<p>
<h3 class="font-weight-bold font-italic"> Networks </h3>
</p>

<p>
    <a class="btn font-weight-bold btn-primary btn-danger" data-toggle="collapse" href="#collapse-show-networks" role="button"
       aria-expanded="false" aria-controls="collapse-show-networks">Show</a>
    <a class="btn font-weight-bold btn-primary btn-danger" data-toggle="collapse" href="#collapseExample" role="button"
       aria-expanded="false" aria-controls="collapseExample">Add</a>
    <a class="btn font-weight-bold btn-primary btn-danger" data-toggle="collapse" href="#collapseExample" role="button"
       aria-expanded="false" aria-controls="collapseExample">Delete</a>
</p>


<div class="collapse" id="collapse-show-networks">
    {% include 'option.html' with net=0 %}
    {% include 'table.html' with net=0 %}

</div>


</div>
