{% load get_network %}
{% get_network net as nets %}
<div class="input-group mb-3">
    <select class="custom-select" id="inputSelect1">
        <option selected>Choose you network...</option>
        {% for v in nets %}
            {% if v.id == 0 %}
                <option value={{ v.id }}> {{ v.name }} </option>
            {% else %}
                <option value={{ v.id }}> {{ v.name }} </option>
            {% endif %}
        {% endfor %}
    </select>
    <div class="input-group-append">
        <label class="input-group-text" for="inputSelect1">Opções</label>
    </div>
</div>